{% extends 'base.html' %}


{% block content %}
    <center>
    {% if searched %}
        <h1>You search for {{ searched }}</h1><br/>
        
        {% for eng in engineers %}
        <div class="container">
        <div class="col-sm-2">
        <ul>
            <li>
            <a href="{% url 'detail' eng.id %}">{{ eng }}</a>
            <a type="button" class="btn btn-primary" href="{% url 'add-cr' %}">Add CR</a>

            </li>
        
        </ul>
        </div>
        </div>
        {% endfor %}
            
    
    {% else %}
        <h1>You forgot to search an engineer...</h1>
    {% endif %}
    </center>
{% endblock content %}
    